$primary: #FFFFFF;
$backgroundColor: #F2F2F2;

////////////////////////////////////////////////////////////////////////////////
// layout one
.panelOne {
  background-color: #eee;
}
.imagePanelOne {
  margin-top: 12;
  align-items: center;
  justify-content: center;
  position: relative;
  width: "JS((width)-22)";
  height: "JS((width/3))";
}
.nameOne {
  font-size: 13;
  width: "JS((width)-16)";
  margin-left: 8;
  margin-top: 6;
}
.timeOne {
  margin-left: 8;
  color: #999;
  font-size: 10;
}


////////////////////////////////////////////////////////////////////////////////
// layout two
.panelTwo {
  background-color: #eee;
  position: relative;
}
.imagePanelTwo {
  margin-top: 12;
  align-items: center;
  justify-content: center;
  position: relative;
  width: "JS((width/2 - 15))";
  height: "JS((width/3))";
  margin-right: 5;
  margin-left: 5;
}
.nameTwo {
  font-size: 13;
  width: "JS((width/2 - 20))";
  margin-left: 5;
  margin-top: 6;
}
.timeTwo {
  margin-left: 8;
  color: #999;
  font-size: 10;
}


////////////////////////////////////////////////////////////////////////////////
// Default layout
.panel {
  position: relative;
}
.imagePanel {
  width: "JS((width/3)-10)";
  height: "JS((width/3))";
  margin-right: 8;
  align-items: center;
  justify-content: center;
  position: relative;
}

.name {
  font-size: 13;
  width: "JS((width/3)-10)";
  margin-left: 4;
  margin-top: 6;
}
.time {
  margin-left: 4;
  color: #999;
  font-size: 10;
  margin-bottom: 20;
}
